.categorias {
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    grid-area: categorias;
    font-family: Play;
    font-style: italic;
    margin-top: 70px;
    a {
        text-decoration: none;
        padding: 10px;
       }
    .cat1__titulo {
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            padding: 35px;
          }
          .cat1__nav ul {
            padding: 0px;
            display: flex;
            flex-direction: column;
            li {
                text-align: center;
                padding: 5px;
                background-color: #292828;
                border-radius: 10px;
                list-style: none;
            }
         }
          .cat1__nav button {
            border: none;
            padding: 4px;
            background-color: #302e2e;
            color: #ffffff;
            border-radius: 10px;
            border-bottom: 2px solid rgb(155, 154, 154);
            font-size: 17px;
            font-family: Play;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover {
                padding: 8px;
                background-color: #0f0f0f;
                border-bottom: 2px solid rgba(255, 0, 0, 0.918);
            }
          }
}   