%cajas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    gap: 20px;
    justify-content: center;
   }

%destacados {
    font-size: 30px;
    text-align: center;
    margin: 60px;
}
