header {
    display: grid;
    grid-area: cabecera;
    background-color: map-get($colores, backgroundHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: map-get($sizes, widthNavbar );
        margin-right: 30px;
        font-size: large;
        border-radius: map-get($sizes, borderRadiusNavbar );
        background-color: #1c1c1c;
        padding: map-get($sizes, paddingNavbar);
        text-decoration: none;
        li a {
             color: rgb(255, 255, 255);
             text-decoration: none;
        }
     } 
     .cabecera__nav button {
         border: none;
         padding: 5px;
         background-color: #302e2e; 
         color: map-get($colores, headerNavColor);
         border-radius: 10px;
         border-bottom: 2px solid map-get($colores, borderBotonNav);
         font-size: 17px;
         font-family: Play;
         cursor: pointer;
         transition: all 0.5s ease;
         &:hover {
             padding: 8px;
             background-color: #0f0f0f;
             border-bottom: 2px solid map-get($colores, hoverBotonNav)
        }
    }
}

