.cabecera5__nav button {
    border: none;
    padding: 5px;
    background-color: #302e2e;
    color: #ffffff;
    border-radius: 10px;
    border-bottom: 2px solid rgb(155, 154, 154);
    font-size: 17px;
    font-family: Play;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
        padding: 8px;
        background-color: #0f0f0f;
        border-bottom: 2px solid rgba(255, 0, 0, 0.918);
    }
 }