.imagenProce {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        transition: all 0.5s;
        &:hover {
             width: 920px;
             height: 290px;
        }
     }
  }