  .parrafo {
    display: grid;
    grid-area: parrafo;
    color: rgb(255, 255, 255);
    font-weight: bold;
    .parrafo__destacados {
       @extend %destacados;
   }
    .parrafo__cajas {
      @extend %cajas;
}
     .parrafo__card {
    text-align: center;
    background-color: #282829;
    border-radius: 20px;
    transition: all 0.5s ease-out;
    padding-bottom: 20px;
    width: 400px;
    height: 370px;
    &:hover { 
        width: 370px;
        height: 400px;
        background: #4e4f50;
    }
    a {
        @include info($backColor: rgb(0, 0, 0), $border: 02px solid rgb(122, 118, 118), $colorText: #ffffff, $backHover: rgb(32, 32, 32))
    } 
    h4 {
         height: 35px;
     } 
        p {
    height: 40px;
    }
     img {
    height: 250px;
   } 
  }
}