$colores: (
    backgroundHeader: #000000,
    headerNavColor: rgb(255, 255, 255),
    hoverBorderNav:  rgba(214, 214, 214, 0.918),
    borderBotonNav: rgb(133, 133, 133)
);

$sizes: (
    widthNavbar: 150px,
    borderRadiusNavbar: 8px,
    paddingNavbar: 0.3em
);