.parrafo .parrafo__cajas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 20px;
  justify-content: center;
}

.parrafo .parrafo__destacados {
  font-size: 30px;
  text-align: center;
  margin: 60px;
}

* {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0px;
}

@font-face {
  font-family: "Play";
  src: url("../fonts/Play/Play.ttf") format("truetype");
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://fondosmil.com/fondo/3041.jpg);
}

.grilla {
  display: grid;
  grid-template-areas: "cabecera cabecera" "parrafo parrafo" "tituloProce tituloProce" "amdIntel imagenProce" "footer footer";
}

header {
  display: grid;
  grid-area: cabecera;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 600px;
  margin-right: 30px;
  font-size: large;
  border-radius: 10px;
  background-color: #1c1c1c;
  padding: 5px;
  text-decoration: none;
}
header ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
header .cabecera__nav button {
  border: none;
  padding: 5px;
  background-color: #302e2e;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border-bottom: 2px solid rgb(154, 155, 154);
  font-size: 17px;
  font-family: Play;
  cursor: pointer;
  transition: all 0.5s ease;
}
header .cabecera__nav button:hover {
  padding: 8px;
  background-color: #0f0f0f;
  border-bottom: 2px solid rgba(197, 13, 13, 0.918);
}

.parrafo {
  display: grid;
  grid-area: parrafo;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.parrafo .parrafo__card {
  text-align: center;
  background-color: #282829;
  border-radius: 20px;
  transition: all 0.5s ease-out;
  padding-bottom: 20px;
  width: 400px;
  height: 370px;
}
.parrafo .parrafo__card:hover {
  width: 370px;
  height: 400px;
  background: #4e4f50;
}
.parrafo .parrafo__card a {
  border-radius: 15px;
  padding: 8px;
  background-color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(122, 118, 118);
  color: #ffffff;
}
.parrafo .parrafo__card a:hover {
  background-color: rgb(61, 60, 60);
}
.parrafo .parrafo__card h4 {
  height: 35px;
}
.parrafo .parrafo__card p {
  height: 40px;
}
.parrafo .parrafo__card img {
  height: 250px;
}

.tituloProce {
  display: grid;
  grid-area: tituloProce;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: #302e2e;
}

.amdIntel {
  display: grid;
  grid-area: amdIntel;
  text-align: center;
  color: #ffffff;
  align-items: center;
  font-size: 20px;
  margin: 20px;
}

.imagenProce {
  display: grid;
  grid-area: imagenProce;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagenProce img {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
.imagenProce img:hover {
  width: 920px;
  height: 290px;
}

footer {
  grid-area: footer;
}
footer .pieDePagina__seguinos {
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  font-size: 20px;
  padding: 40px;
}
footer .pieDePagina__redes {
  text-align: center;
  padding: 20px;
}
footer .pieDePagina__copy {
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
  height: 50px;
  margin-top: 20px;
}

.grilla2 {
  display: grid;
  grid-template-areas: "cabecera2 cabecera2" "categorias parrafo2" "categorias parrafo2" "footer footer";
  grid-template-columns: 1fr 4fr;
}

.cabecera2 {
  grid-area: cabecera2;
}

.cabecera2__nav button {
  border: none;
  padding: 5px;
  background-color: #302e2e;
  color: #ffffff;
  border-radius: 10px;
  border-bottom: 2px solid rgb(155, 154, 154);
  font-size: 17px;
  font-family: Play;
  cursor: pointer;
  transition: all 0.5s ease;
}

.cabecera2__nav button:hover {
  padding: 8px;
  background-color: #0f0f0f;
  border-bottom: 2px solid rgba(255, 0, 0, 0.918);
}

.categorias {
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  grid-area: categorias;
  font-family: Play;
  font-style: italic;
  margin-top: 70px;
}

.cat1__nav button {
  border: none;
  padding: 4px;
  background-color: #302e2e;
  color: #ffffff;
  border-radius: 10px;
  border-bottom: 2px solid rgb(155, 154, 154);
  font-size: 17px;
  font-family: Play;
  cursor: pointer;
  transition: all 0.5s ease;
}

.cat1__nav button:hover {
  padding: 8px;
  background-color: #0f0f0f;
  border-bottom: 2px solid rgba(255, 0, 0, 0.918);
}

.cat1 ul li {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-align: left;
}

.categorias h1 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 35px;
}

.cat1__nav ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.cat1__nav ul li {
  text-align: center;
  padding: 5px;
  background-color: #292828;
  border-radius: 10px;
}

.categorias a {
  text-decoration: none;
  padding: 10px;
}

.parrafo2 {
  display: grid;
  grid-area: parrafo2;
}

.parrafo2__titulo {
  font-size: 40px;
  padding: 60px;
  font-family: Play;
  font-style: italic;
}

.parrafo2__productos {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.parrafo2__cajas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: start;
}

.parrafo2__card {
  width: 320px;
  height: 320px;
  text-align: center;
  background-color: #292828;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: large;
  transition: all 0.5s ease-out;
}

.parrafo2__card:hover {
  width: 350px;
  height: 350px;
  background: #4e4f50;
}

.parrafo2__card img {
  width: 250px;
  height: 250px;
  padding: 9px;
}

.pieDePagina2 {
  grid-area: footer;
  padding: 100px;
}

.pieDePagina2__seguinos {
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  font-size: 20px;
}

.pieDePagina2__redes {
  text-align: center;
  padding: 20px;
}

.pieDePagina2__copy {
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.cabecera3 {
  text-align: end;
  background-size: auto;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecera3__nav {
  font-size: large;
  list-style: none;
  padding: 0px;
  width: 600px;
  text-align: center;
}

.cabecera3__nav li {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #1c1c1c;
}

.cabecera3__nav li a {
  color: white;
  text-decoration: none;
}

.parrafo3 {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 12px;
}

.parrafo3__titulo {
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
  margin: 35px;
  background-color: #000000;
  display: inline-block;
  padding: 4px;
  border-radius: 15px;
}

.pieDePagina3__seguinos {
  margin: 20px;
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  font-size: 20px;
}

.pieDePagina3__redes {
  margin: 10px;
  text-align: center;
  padding: 20px;
}

.pieDePagina3__copy {
  margin-top: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
  height: 50px;
}

.cabecera4 {
  text-align: end;
  background-size: auto;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecera4__nav {
  font-size: large;
  list-style: none;
  padding: 0px;
  width: 600px;
  text-align: center;
}

.cabecera4__nav li {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #1c1c1c;
}

.cabecera4__nav li a {
  color: white;
  text-decoration: none;
}

.parrafo4__titulo {
  color: #ffffff;
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  padding: 23px;
}

.parrafo4__parrafo1 {
  color: #ffffff;
  margin-top: 80px;
  text-align: start;
  font-size: 20px;
  padding: 12px;
}

.parrafo4__parrafo2 {
  color: #ffffff;
  margin-top: 30px;
  text-align: end;
  font-size: 20px;
  padding: 12px;
}

.parrafo4__parrafo3 {
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  padding: 12px;
}

.pieDePagina4__seguinos {
  margin: 100px;
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  font-size: 20px;
}

.pieDePagina4__redes {
  margin: 10px;
  text-align: center;
  padding: 20px;
}

.pieDePagina4__copy {
  margin-top: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.cabecera5 {
  text-align: end;
  background-size: auto;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecera5__nav {
  font-size: large;
  list-style: none;
  padding: 0px;
  width: 600px;
  text-align: center;
}

.cabecera5__nav li {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #1c1c1c;
}

.cabecera5__nav li a {
  color: white;
  text-decoration: none;
}

.cabecera5__logo {
  text-align: left;
}

.parrafo5 {
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.parrafo5__1 {
  margin: 20px;
}

.parrafo5__2 {
  margin: 20px;
}

.parrafo5__3 {
  margin: 20px;
}

.pieDePagina5__seguinos {
  margin: 100px;
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  font-size: 20px;
}

.pieDePagina5__mapa {
  width: 50%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.pieDePagina5__redes {
  margin: 10px;
  text-align: center;
  padding: 20px;
}

.pieDePagina5__copy {
  margin-top: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
  height: 50px;
}/*# sourceMappingURL=styles.css.map */