/* -------------------- INDEX -------------------- */
* {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0px;
}

@font-face {
  font-family: "Play";
  src: url("../fonts/Play/Play.ttf") format("truetype");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://fondosmil.com/fondo/3041.jpg);
}

.grilla {
  display: grid;
  grid-template-areas:
    "cabecera cabecera"
    "parrafo parrafo"
    "tituloProce tituloProce"
    "amdIntel imagenProce"
    "footer footer";
}

.grilla2 {
  display: grid;
  grid-template-areas:
    "cabecera2 cabecera2"
    "categorias parrafo2"
    "categorias parrafo2"
    "footer footer";
    grid-template-columns: 1fr 4fr;
}

header {
  display: grid;
  grid-area: cabecera;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 600px;
  margin-right: 30px;
  font-size: large;
  border-radius: 10px;
  background-color: #1c1c1c;
  padding: 5px;
  text-decoration: none;
}

header ul li a {
  color: #ffff;
  text-decoration: none;
}

.cabecera__nav button {
  border: none;
  padding: 5px;
  background-color: #302e2e;
  color: #ffffff;
  border-radius: 10px;
  border-bottom: 2px solid rgb(155, 154, 154);
  font-size: 17px;
  font-family: Play;
  cursor: pointer;
  transition: all 0.5s ease;
}

.cabecera__nav button:hover {
  padding: 8px;
  background-color: #0f0f0f;
  border-bottom: 2px solid rgba(255, 0, 0, 0.918);
}

.amdIntel {
  display: grid;
  grid-area: amdIntel;
}

.parrafo {
  display: grid;
  grid-area: parrafo;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.imagenProce {
  display: grid;
  grid-area: imagenProce;
   }

footer {
  grid-area: footer;
}

.parrafo__destacados {
  font-size: 30px;
  text-align: center;
  margin: 60px;
}

.tituloProce {
  display: grid;
  grid-area: tituloProce;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: #302e2e;
}

.amdIntel {
  text-align: center;
  color: #ffffff;
  align-items: center;
  font-size: 20px;
  margin: 20px;
}

.imagenProce {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parrafo__cajas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 20px;
  justify-content: center;
}

.parrafo__card {
  text-align: center;
  background-color: #292828;
  border-radius: 20px;
  transition: all 0.5s ease-out;
  padding-bottom: 20px;
  width: 350px;
  height: 370px;

}

.parrafo__card:hover {
  width: 370px;
  height: 400px;
  background: #4e4f50;
}

.parrafo__card a{
  color: #ffffff;
  background-color: #000000;
  border-radius: 23px;
  padding: 8px;
}

.parrafo__card h4 {
  height: 35px;
}

.parrafo__card p {
  height: 40px;
}

.parrafo__card img {
  height: 250px;
}

.imagenProce__banner img{
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.imagenProce__banner img:hover {
  width: 920px;
  height: 290px;
}

.pieDePagina__seguinos {
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  font-size: 20px;
  padding: 40px;
}

.pieDePagina__redes {
  text-align: center;
  padding: 20px;
}

.pieDePagina__copy {
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
  height: 50px;
  margin-top: 20px;
}









.cabecera2 {
  grid-area: cabecera2;
}

.cabecera2__nav button {
  border: none;
  padding: 5px;
  background-color: #302e2e;
  color: #ffffff;
  border-radius: 10px;
  border-bottom: 2px solid rgb(155, 154, 154);
  font-size: 17px;
  font-family: Play;
  cursor: pointer;
  transition: all 0.5s ease;
}

.cabecera2__nav button:hover {
  padding: 8px;
  background-color: #0f0f0f;
  border-bottom: 2px solid rgba(255, 0, 0, 0.918);
}

.categorias {
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  grid-area: categorias;
  font-family: Play;
  font-style: italic;
  margin-top: 70px;
}

.cat1__nav button {
  border: none;
  padding: 4px;
  background-color: #302e2e;
  color: #ffffff;
  border-radius: 10px;
  border-bottom: 2px solid rgb(155, 154, 154);
  font-size: 17px;
  font-family: Play;
  cursor: pointer;
  transition: all 0.5s ease;
}

.cat1__nav button:hover {
  padding: 8px;
  background-color: #0f0f0f;
  border-bottom: 2px solid rgba(255, 0, 0, 0.918);
}

.cat1 ul li {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-align: left;
} 

.categorias h1 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 35px;
}

.cat1__nav ul {
  padding: 0px;
  display: flex;
  flex-direction: column;  
}

.cat1__nav ul li {
  text-align: center;
  padding: 5px;
  background-color: #292828;
  border-radius: 10px;
}

.categorias a {
 text-decoration: none;
 padding: 10px;
}

.parrafo2 {
  display: grid;
  grid-area: parrafo2;
}

.parrafo2__titulo {
  font-size: 40px;
  padding: 60px;
  font-family: Play;
  font-style: italic;
}

.parrafo2__productos {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.parrafo2__cajas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: start;
  }

.parrafo2__card {
  width: 320px;
  height: 320px;
  text-align: center;
  background-color: #292828;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: large;
  transition: all 0.5s ease-out;
}

.parrafo2__card:hover {
  width: 350px;
  height: 350px;
  background: #4e4f50;
}

.parrafo2__card img {
  width: 250px;
  height: 250px;
  padding: 9px;
}

.pieDePagina2 {
  grid-area: footer;
  padding: 100px;
}

.pieDePagina2__seguinos {
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  font-size: 20px;
}

.pieDePagina2__redes {
  text-align: center;
  padding: 20px;
}

.pieDePagina2__copy {
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.cabecera3 {
  text-align: end;
  background-size: auto;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecera3__nav {
  font-size: large;
  list-style: none;
  padding: 0px;
  width: 600px;
  text-align: center;
}

.cabecera3__nav li {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-left: 05px;
  padding: 05px;
  border-radius: 10px;
  background-color: #1c1c1c;
}

.cabecera3__nav li a {
  color: white;
  text-decoration: none;
}

.parrafo3 {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 12px;
}

.parrafo3__titulo {
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
  margin: 35px;
  background-color: #000000;
  display: inline-block;
  padding: 4px;
  border-radius: 15px;
}

.pieDePagina3__seguinos {
  margin: 20px;
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  font-size: 20px;
}

.pieDePagina3__redes {
  margin: 10px;
  text-align: center;
  padding: 20px;
}

.pieDePagina3__copy {
  margin-top: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
  height: 50px;
}

.cabecera4 {
  text-align: end;
  background-size: auto;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecera4__nav {
  font-size: large;
  list-style: none;
  padding: 0px;
  width: 600px;
  text-align: center;
}

.cabecera4__nav li {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-left: 05px;
  padding: 05px;
  border-radius: 10px;
  background-color: #1c1c1c;
}

.cabecera4__nav li a {
  color: white;
  text-decoration: none;
}

.parrafo4__titulo {
  color: #ffffff;
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  padding: 23px;
}

.parrafo4__parrafo1 {
  color: #ffffff;
  margin-top: 80px;
  text-align: start;
  font-size: 20px;
  padding: 12px;
}

.parrafo4__parrafo2 {
  color: #ffffff;
  margin-top: 30px;
  text-align: end;
  font-size: 20px;
  padding: 12px;
}

.parrafo4__parrafo3 {
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  padding: 12px;
}

.pieDePagina4__seguinos {
  margin: 100px;
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  font-size: 20px;
}

.pieDePagina4__redes {
  margin: 10px;
  text-align: center;
  padding: 20px;
}

.pieDePagina4__copy {
  margin-top: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.cabecera5 {
  text-align: end;
  background-size: auto;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecera5__nav {
  font-size: large;
  list-style: none;
  padding: 0px;
  width: 600px;
  text-align: center;
}

.cabecera5__nav li {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-left: 05px;
  padding: 05px;
  border-radius: 10px;
  background-color: #1c1c1c;
}

.cabecera5__nav li a {
  color: white;
  text-decoration: none;
}

.cabecera5__logo {
  text-align: left;
}

.parrafo5 {
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.parrafo5__1 {
  margin: 20px;
}

.parrafo5__2 {
  margin: 20px;
}

.parrafo5__3 {
  margin: 20px;
}

.pieDePagina5__seguinos {
  margin: 100px;
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
  font-size: 20px;
}

.pieDePagina5__mapa {
  width: 50%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.pieDePagina5__redes {
  margin: 10px;
  text-align: center;
  padding: 20px;
}

.pieDePagina5__copy {
  margin-top: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
  height: 50px;
}

@media (max-width:480px) {
  .grilla {
    display: grid;
    grid-template-areas:
      "cabecera"
      "parrafo"
      "tituloProce"
      "imagenProce"
      "amdIntel"
      "footer";
  }

  header {
    grid-area: cabecera;
    background-color: #000000;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
.cabecera__logo img {
  height: 60px;
  width: 60px;
}

  header ul {
    list-style: none;
    border-radius: 13px;
    background-color: #1c1c1c;
    text-decoration: none;
    width: 100%;
    padding: 4px;
    gap: 20px
  }
  
  header ul li a {
    color: #ffff;
    text-decoration: none;
  }

  .cabecera__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .cabecera__ul {
    display: flex;
    justify-content: flex-start;
  }

.parrafo__card {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: space-between;
}

.parrafo__cajas {
gap: 40px;
align-items: center;
}

.parrafo__card img {
  width: 200px;
  height: 200px; 
}

.parrafo__card a{
  font-size: 20px;
  padding: 10px;
}

.parrafo__card h4 { 
  height: 40px;
  font-size: 20px;
  line-height: 5px;
}

.imagenProce__banner img {
  width: 100%;
  height: 200px;
}

.parrafo__card p {
  height: 40px;
  font-size: 20px;
  line-height: 23px;
}
.amdIntel {
  gap: 20px;
}


.parrafo__destacados {
  font-size: 40px;
  text-align: center;
  margin: 60px;
}



}

/* @media screen and (min-width:480px) and (max-height:320px) and (orientation: landscape) {
  .grilla {
    display: grid;
    grid-template-areas:
      "cabecera"
      "parrafo"
      "tituloProce"
      "imagenProce"
      "amdIntel"
      "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 130px 2fr auto auto auto;
  }

  header ul {
    width: 560px;
  }

  .imagenProce__banner img {
    width: 100%;
    height: 170px;
  }
}
 */
@media screen and (min-width:320px) and (max-height:480px) and (orientation: portrait) {
  .grilla2 {
    display: grid;
    grid-template-areas: 
    "cabecera "
    "categorias"
    "productos"
    "footer";
    grid-template-columns: 2fr;
    grid-template-rows: 130px 2fr auto auto;
  }

  header {
    display: grid;
    grid-area: cabecera;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
  }
  
  header ul {
    list-style: none;
    font-size: 21px;
    border-radius: 10px;
    background-color: #1c1c1c;
    padding: 10px;
    text-decoration: none;
    width: 550px;
  }
  
  header ul li a {
    color: #ffff;
    text-decoration: none;
  }

  .cabecera__ul {
    display: flex;
    justify-content: center;
  }

.categorias {
  display: grid;
  grid-area: categorias;
  font-size: 35px;
  padding: 30px;
}

.productos {
  display: grid;
  grid-area: productos;
}

.parrafo2__card {
  width: 550px;
  height: 600px;
  text-align: center;
  background-color: #292828;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.parrafo2__card img {
  width: 500px;
  height: 500px;
  padding: 9px;
}

.pieDePagina__seguinos {
  font-size: 40px;
}

.pieDePagina__copy {
  font-size: 25px;
}

.pieDePagina__redes img { 
width: 50px;
height: 50px;
}

}

@media screen and (min-width:480px) and (max-height:320px) and (orientation: landscape) {
  .grilla2 {
    display: grid;
    grid-template-areas: 
    "cabecera"
    "categorias"
    "productos"
    "footer";
  }

  .categorias {
    display: grid;
    grid-area: categorias;
    padding: 30px;
  }

}